html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif !important;
}

.header{
	display:flex;
	align-items: center;
	background-image: url('header.png');
	background-size: 100%,100%;
	height: 100px;
	color: white;

}
.accordion{
	margin-top:40px;
	margin-left:350px;
	margin-right:350px;
}

.dropdown{
	margin-top: 40px;
	margin-left: 250px;
}

.accordion-body{

	font-size: 18px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 1000px){
	.accordion, .dropdown{
		margin-left:50px;
		margin-right:50px;
	}

	#info{
		height: 30px;
		width: 30px;
	}

}

#name{	 
	width: 100%;



}
#info{

	margin-right: 10px;
}

#lang{
	margin-right:30px;

}